<div class="container">
  <%=image_tag("kitties.jpeg", width: '100%' )%>
  <!-- <div class="bottom-left">Bottom Left</div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div> -->
  <div class="centered">
    <h1><font color="white">Tyler Fay</font></h1>
    <h3><font color="white"> Local Musician</font></h3>
    <!-- need to add functionality here -->
    <button onclick="location.href='/bookings/new'" class="button">Book a Show!</button>
  </div>
</div>

<center>
<h2>ABOUT TYLER</h2>
<p>This is where an about Tyler and description of what he does will go.</p>
</center>

<center>
<% if @video %>
  <h3>
    Latest Video
  </h3>
  <%= video_tag @video.video_url.to_s, :controls =>true, :width => '75%' %>
<% end %>
</center>
