<div class="container">
  <%=image_tag("horiz_guitar.jpg", width: '100%' )%>
  <!-- <div class="bottom-left">Bottom Left</div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div> -->
  <div class="centered">
    <h1>Tyler Fay</h1>
    <h3> Local Musician</h3>
  </div>
</div>
