<center>
<h1>Pictures</h1>
</center>

<div class="gallery">
  <div class="spacer">
    &nbsp;
  </div>
  <% @pictures.each do |picture|%>
    <div class="container">
      <div class="picture">
        <%= image_tag picture.picture_url.to_s, :width => '100%'%>
      <% if user_signed_in? %>
        <p>
          <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%= link_to 'Edit', edit_picture_path(picture) %> 
        </p>
      <% end %>
      </div>
      <div class="title">
        <div class="text"> <%= picture.title %> </div>
      </div>
    </div>
  <%end%>
  <div class="spacer">
    &nbsp;
  </div>
</div>
