<center>
<h1>Pictures</h1>
</center>

<div class="gallery">
  <div class="spacer">
    &nbsp;
  </div>
  <% @pictures.each do |picture|%>
    <div class="picture">
      <%= link_to (image_tag picture.picture_url.to_s, :width => '100%'), picture_path(picture) %>
    <% if user_signed_in? %>
      <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%= link_to 'Edit', edit_picture_path(picture) %> 
    <% end %>
    </div>
  <%end%>
  <div class="spacer">
    &nbsp;
  </div>
</div>
