/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

 input, textarea { display: block; }

 body {
     background-color: #EDF6EA;
     min-height: 100%;
     margin-bottom: 50px;
 }

 html  {
   color: #2B3927;
   position: relative;
   min-height: 100%;
   margin-bottom: 45px;
 }
 /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white !important;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 150%;
    text-shadow: 3px 3px black;
    transform: translate(-50%, -50%);
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #DBEDD6;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: #394C34;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.button {
    background-color: #64855C;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    background-color: green;
}

.back-button {
    background-color: #64855C;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.back-button:hover {
    background-color: green;
}

#flash {
.notice {
padding: 8px 14px;
margin-bottom: 20px;
background-color: #fcf8e3;
}
.flash-message {
display: inline-block;
}
button.flash-close {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 30px;
font-weight: bold;
line-height: 25px;
padding: 0;
margin: 0;
float: right;
color: #984949;
cursor: pointer;
border: 0;
background: transparent;
-webkit-appearance: none;
&:hover {
cursor: pointer;
}
}
.success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
}
.error {
background-color: #ead2d3;
border-color: #eed3d7;
color: #984949;
}
.info {
background-color: #d9edf7;
color: #3a87ad;
}
}

.field {
  border-radius: 5px;
  padding: 20px;
  color: #2B3927;
  width: 100%;
  float: left;
}

.actions {
  background-color: #64855C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: left;
  font-size: 16px;
}

.actions:hover {
    background-color: green;
}

#form[type=text], textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2B3927;
  color: white;
  height: 40px;
  text-align: center;

}

.left {
  float: left;
  padding: 5px ;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.picture {
  flex: 33%;
  max-width: 33%;
  padding: 0 2px;
  float: left;
}

.picture h3 {
  text-align: center;
}

.spacer {
  clear: both;
}

@media screen and (max-width: 600px) {
  .picture {
    flex: 100%;
    max-width: 100%;
  }
}

.event {
  text-align: center;
  border-style: solid;
  border-color: #2B3927;
}

.vidLabels {

}

.vidLabels a {
    /* float: center; */
    /* display: block; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #2B3927; 
}

.vidLabels a:hover {
  text-decoration: underline;
}
