<div class="header">
  <a href="/" class="logo">TylerFay</a>

  <div class="header-right">
    <a href="/events">Calendar</a>
    <a href="/videos">Videos</a>
    <a href="/contact-me">Contact Tyler</a>

    <% if user_signed_in? %>
      <%= link_to 'Manage Bookings', '/bookings' %>
      <%= link_to 'Add Video', '/videos/new' %>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
    <% end %>

  </div>
</div>
